
/* line 44 : /home/nodeXpress_basic/src/styl/media.styl */

/* line 1 : /home/nodeXpress_basic/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line undefined : /home/nodeXpress_basic/src/styl/media.styl */
/* Smartphones (vertical y horizontal) ----------- */

/* line 2 : /home/nodeXpress_basic/src/styl/media.styl */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/* line 6 : /home/nodeXpress_basic/src/styl/media.styl */
/* Smartphones (horizontal) ----------- */

/* line 7 : /home/nodeXpress_basic/src/styl/media.styl */
@media only screen and (min-width : 321px) {
}

/* line 11 : /home/nodeXpress_basic/src/styl/media.styl */
/* Smartphones (vertical) ----------- */

/* line 12 : /home/nodeXpress_basic/src/styl/media.styl */
@media only screen and (max-width : 320px) {
}

/* line 16 : /home/nodeXpress_basic/src/styl/media.styl */
/* iPads (vertical y horizontal) ----------- */

/* line 17 : /home/nodeXpress_basic/src/styl/media.styl */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* line 21 : /home/nodeXpress_basic/src/styl/media.styl */
/* iPads (horizontal) ----------- */

/* line 22 : /home/nodeXpress_basic/src/styl/media.styl */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* line 26 : /home/nodeXpress_basic/src/styl/media.styl */
/* iPads (vertical) ----------- */

/* line 27 : /home/nodeXpress_basic/src/styl/media.styl */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/* line 31 : /home/nodeXpress_basic/src/styl/media.styl */
/* PCs y portátiles ----------- */

/* line 32 : /home/nodeXpress_basic/src/styl/media.styl */
@media only screen and (min-width : 1224px) {
}

/* line 36 : /home/nodeXpress_basic/src/styl/media.styl */
/* Pantallas grandes ----------- */

/* line 37 : /home/nodeXpress_basic/src/styl/media.styl */
@media only screen and (min-width : 1824px) {
}

/* line 41 : /home/nodeXpress_basic/src/styl/media.styl */
/* iPhone 4 ----------- */

/* line 42 : /home/nodeXpress_basic/src/styl/media.styl */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
}


/* line 3 : /home/nodeXpress_basic/src/styl/mystyle.styl */

/* line 1 : /home/nodeXpress_basic/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/nodeXpress_basic/src/styl/mystyle.styl */
input[type="text"]:focus,
textarea:focus,
input[type="search"]:focus {
  outline: none;
}


/* line 86 : /home/nodeXpress_basic/src/styl/polaroid.styl */

/* line 1 : /home/nodeXpress_basic/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/nodeXpress_basic/src/styl/polaroid.styl */

/* line 2 : /home/nodeXpress_basic/src/styl/polaroid.styl */
a.polaroid {
  display: block;
  margin-bottom: 50px;
  text-decoration: none;
  color: #333;
  padding: 13px 13px 26px 13px;
  width: 200px;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  z-index: 2;
  font-size: 0.8em;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transition: all 0.5s ease-in;
}

/* line 21 : /home/nodeXpress_basic/src/styl/polaroid.styl */
a.polaroid img {
  width: 200px;
  -webkit-transition: all 0.5s ease-in;
}

/* line 24 : /home/nodeXpress_basic/src/styl/polaroid.styl */
a img {
  border: none;
  display: block;
  border: none;
  display: block;
}

/* line 29 : /home/nodeXpress_basic/src/styl/polaroid.styl */
a.polaroid2 {
  display: block;
  margin: 0em auto 0 auto;
  text-decoration: none;
  color: #333;
  padding: 13px 13px 26px 13px;
  width: 200px;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  z-index: 2;
  font-size: 0.8em;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-transition: all 0.5s ease-in;
}

/* line 47 : /home/nodeXpress_basic/src/styl/polaroid.styl */
a.polaroid2 img {
  width: 200px;
  -webkit-transition: all 0.5s ease-in;
}

/* line 56 : /home/nodeXpress_basic/src/styl/polaroid.styl */
a.polaroid:hover,
a.polaroid:focus,
a.polaroid:active {
  z-index: 999;
  -webkit-box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
  -moz-box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
  box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
  -webkit-transform: rotate(0deg) scale(1.5);
  -moz-transform: rotate(0deg) scale(1.5);
  transform: rotate(0deg) scale(1.5);
}

/* line 64 : /home/nodeXpress_basic/src/styl/polaroid.styl */
a.polaroid:hover img,
a.polaroid:focus img,
a.polaroid:active img {
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
}

/* line 68 : /home/nodeXpress_basic/src/styl/polaroid.styl */

/* line 69 : /home/nodeXpress_basic/src/styl/polaroid.styl */
.polaroid img {
  margin: 0 0 15px;
}

/* line 71 : /home/nodeXpress_basic/src/styl/polaroid.styl */
a.polaroid2:hover,
a.polaroid2:focus,
a.polaroid2:active {
  z-index: 999;
  -webkit-box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
  -moz-box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
  box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
  -webkit-transform: rotate(0deg) scale(1.5);
  -moz-transform: rotate(0deg) scale(1.5);
  transform: rotate(0deg) scale(1.5);
}

/* line 79 : /home/nodeXpress_basic/src/styl/polaroid.styl */
a.polaroid2:hover img,
a.polaroid2:focus img,
a.polaroid2:active img {
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
}

/* line 83 : /home/nodeXpress_basic/src/styl/polaroid.styl */

/* line 84 : /home/nodeXpress_basic/src/styl/polaroid.styl */
.polaroid2 img {
  margin: 0 0 15px;
}


/* line 8 : /home/nodeXpress_basic/src/styl/stylesheet.styl */

/* line 1 : /home/nodeXpress_basic/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/nodeXpress_basic/src/styl/stylesheet.styl */
body {
  background: #fff;
}

/* line 3 : /home/nodeXpress_basic/src/styl/stylesheet.styl */
h1 {
  color: #f00;
  font-weight: 500;
}

/* line 6 : /home/nodeXpress_basic/src/styl/stylesheet.styl */
nav > ul {
  display: inline-block;
}
